body {
    background-size: cover;
    background-repeat: no-repeat;
    height: max-content;
    width: max-content;
    background: #222;
    background-image: url('https://source.unsplash.com/1600x900/?" + city +');
}

/* weather info can't get it in the center of the page*/
.card {
    align-self: center;
    background: #000000d0;
    color: white;
    padding: 2em;
    border-radius: 30px;
    width: 100%;
    max-width: 420px;
    margin: 1em;
}

.search {
    display: flex;
    align-items: center;
    justify-content: center;
}

.button{
    margin: 0.5em; 
    border-radius: 100%; 
    border: none;
    height: 48px;
    width: 46px;
    outline: none;
    background:  #7c7c7c2b;
    color:white;
}

.random-vacation-spot-btn,
.searchbutton {
    cursor: pointer;
}

.search-bar {
    border: none;
    outline: none;
    padding: 0.4em;
    border-radius: 24px;
    background: #7c7c7c2b;
    color: white;
    font-size: 100%;
}

h1.temp {
    margin: 0;
}

.dropbtn {
    color: black;
    font-size: 12px;
    border: none;
    background-color: darkgrey;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content{
    display: none;
    position: absolute;
    background-color: green;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}
.dropdown-content a{
    color:black;
    padding:12px 16px;
    text-decoration:none;
    display: block;
}
/*this is the color for the drop highlight background*/
.dropdown-content:hover{
    background-color: rgb(0, 0, 0);
}

.dropdown:hover .dropdown-content{
    display: block;
}

.resultsBox {
    justify-content: center;
}

.randomBtn{
    justify-content: center;
    display: block;
}

/*.dropdown:hover .dropbtn {
    background-color: #0796d8;
}
 This is 
.search {
    position: center;
    margin-left: 600px;
    padding: 5px;
    border-radius: 20px;
    width: 30vh;
    align-items: center;
    
}

.weather-stats {
    
    position: relative,center;
    margin-top: 100px;
    margin-bottom: 500px;
    margin-left: 550px;
    margin-right: 500px;
    border-width: .5px ;
    border-style: solid;
    padding: 2em;
    width: 20%;
    background-color: #000000d0;
    color: white;
   
   }

  

   

.toggle-switch {
    
    margin-left:1px;
    margin-right: 1275px;
    background: rgb(245, 145, 15);
    border: solid thin;
    width: 5vh;

    

   }

.body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 1;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url('https://source.unsplash.com/1600x900/?" + city +');
}
*/